.task-card {
  background-color: rgb(247, 246, 244);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-left: 5px solid #ccc; 
    word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
}



.status {
  font-size: 0.75rem;
  background: #dfe1e6;
  padding: 2px 8px;
  border-radius: 10px;
  color: #444;
}

.badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.99rem;
  font-weight: bold;
  text-transform: uppercase;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 10px;
}

button {
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
}

.edit {
  background: white;
  color: black;
}

.delete {
  background: white;
  color: black;
}
